h1{
    font-family: "TTInterfacesMedium";
    src: url("../fonts/TTInterfacesMedium/TTInterfacesMedium.eot");
    src: url("../fonts/TTInterfacesMedium/TTInterfacesMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/TTInterfacesMedium/TTInterfacesMedium.woff") format("woff"),
    url("../fonts/TTInterfacesMedium/TTInterfacesMedium.ttf") format("truetype");
    font-weight: 400;
    font-size: 300%;
    font-style: normal;
    color: rgb(55, 55, 55);
    text-decoration: none;
    text-align: left;
    margin-left: 10%;
}
.layer {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 300px;
    padding: 200px 200px 400px;
    background: #0a664d;
    margin-left: auto;
    margin-right: -0.5em;
    background-image: url(https://gosstandart.gov.by/assets/files/NEWS_2022/09/edinstvo.jpg);
    background-repeat: no-repeat;
    background-position: 0px 140px;
    background-size: contain;
}

.shtooki{
    white-space: nowrap; 
    overflow: hidden; 
    background: rgb(10, 102, 77);
    padding: 5px; 
    text-overflow: ellipsis;
}
div{
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    color: rgb(55, 55, 55);
    text-decoration: none;
    color: rgb(55, 55, 55);
    line-height: 55px;
    letter-spacing: 0em;
    --para-spacing: 0;
    text-transform: none;s
    --head-indent: 0;
    --numeric-list-marker: none;
    list-style-type: none;
    text-align: left;
    tab-size: 4;
    writing-mode: horizontal-tb;
    line-height: 50px;
    pointer-events: auto;
    width: 50%;
    margin-left: 3%;
}
ol{
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 37.3333px;
    font-family: monospace;
    line-height: 30px;
    color: rgb(255, 255, 255);
    letter-spacing: 0.05em;
    text-align: left;
    display: inline-block;
    margin-top: 120px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
a{
    fosnt-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 25px;
    font-family: monospace;
    line-height: 30px;
    color: rgb(255, 255, 255);
    letter-spacing: 0.05em;
    text-align: center;
}
@media screen and(max-width: 600px)
{
    body{
        font-size: 1.5em;
    }
    h2{
        font-size: 2.5em;
    }
}

